<% if @current_user %>
  <% if @current_user.role == "owner" %>
    <p class = "UserNew-title">User Update</p>
    <div class="AddUser-div">
      <%= form_with(url: "/users/#{session[:selected_id]}", method: "PUT", class: "AddUser") do %>
      <div class="NewUserName-div">
        <p class="AddUser-title">Name:</p>
        <%= text_field_tag 'name', "#{session[:selected_user]}", placeholder: 'User name...',
                            class: "UserNewForm-input", autofocus: true
        %>
      </div>
        <div class="NewUserRole-div">
          <p class="UserNewForm-paragraph">Role: <%= "#{session[:selected_role]}" %> </p>
          <div class="NewUserName-div">
              <%= radio_button_tag("role", "clerk", checked= true )  %>
                <p class="UserNewForm-paragraph">Clerk </p>
              <%= radio_button_tag("role", "owner", checked=false ) %>
                <p class="UserNewForm-paragraph">Owner </p>
          </div>
        </div>
        <div class="NewUserName-div">
          <p class="UserNewForm-paragraph">New Email:</p>
          <%= email_field_tag :email, nil, class: "UserNewForm-input" %>
        </div>
        <div class="NewUserName-div">
          <p class="UserNewForn-paragraph">New Password:</p>
          <%= password_field_tag :password, nil, class: "UserNewForm-input" %>
        </div>
        <%= button_tag "Update", class: "UserNewForm-submitbutton" %>
      <% end %>
    </div>
  <% else %>
    <p class = "UserNew-title">Password Update</p>
    <section class="UserNew-section">
      <%= form_with(url: "/users/#{session[:current_user_id]}", method: "PATCH" ) do |form| %>
        <div class="UserNewForm-div">
          <p class="UserNewForm-paragraph">New Password</p>
          <%= form.password_field :password, class: "UserNewForm-input", autofocus: true %>
        </div>
        <div class="UserNewForm-div">
          <%= form.submit "Submit", class: "UserNew-submitbutton" %>
        </div>
      <% end %>
    </section>
  <% end %>
<% else %>
  <p class="ChangePassword-title">You are not logged in. </p>
<% end %>
