<% if @current_user && @current_user.role != "owner" %>
    <p class = "UserNew-title"> Change Password for : <%= @current_user.name %> </p>
    <section class="UserNew-section">
      <%= form_with(url: "/users/#{session[:current_user_id]}", method: "PATCH" ) do |form| %>
        <div class="UserNewForm-div">
          <p class="UserNewForm-paragraph">Current Password</p>
          <%= form.password_field :current_password, class: "UserNewForm-input", autofocus: true %>
        </div>
        <div class="UserNewForm-div">
          <p class="UserNewForm-paragraph">New Password</p>
          <%= form.password_field :password, class: "UserNewForm-input" %>
        </div>
        <div class="UserNewForm-div">
          <%= form.submit "Submit", class: "UserNew-submitbutton" %>
        </div>
      <% end %>
    </section>
<% else %>
  <p class="ChangePassword-title">Owner cann't change Password of other users</p>
<% end %>
