<% if session[:current_role] != "clerk" %>
  <p class = "UserNew-title">Welcome to Cafe Raj's New User Sign-up page</p>
  <section class="UserNew-section">
    <%= form_with url: users_path do |form| %>
      <div class="UserNewForm-div">
        <p class="UserNewForm-paragraph">Your Name</p>
        <%= form.text_field :name, class: "UserNewForm-input", autofocus: true %>
      </div>

      <div class="UserNewForm-div">
        <p class="UserNewForm-paragraph">Email</p>
        <%= form.email_field :email, class: "UserNewForm-input" %>
      </div>
      <div class="UserNewForm-div">
        <p class="UserNewForn-paragraph">Password</p>
      <%= form.password_field :password, class: "UserNewForm-input" %>
      </div>
      <div class="UserNewForm-div">
        <%= form.submit "Sign-up!", class: "UserNew-submitbutton" %>
      </div>
    <% end %>
  </section>
<% else %>
  <p class = "ChangePassword-title">You are not authorized to create New User.</p>
<% end %>
