<section class="MenuSection">
  <% if @current_user && @current_user.role == "clerk" %>
  <div>
    <hr>
    <% if Cart.of_user(@current_user.id) %>
      <% if (CartItem.of_cart_id(Cart.of_user(@current_user.id).id).count != 0) %>
        <table class="OrderTable">
          <tr> <td>
      <% end %>
    <% end %>
    <% if !Order.all.empty? %>
      <p class = "Menu-title">All Orders </p>
      <div class="MenuCategory-div">
      <ul class="MenuUl-list">
        <% order_amount = 0 %>
        <% Order.all.each do |order| %>
          <div class="OrderList-div">
            <%= form_with(url: "/order_items/#{order.id}/edit", method: "GET") do %>
                <%= check_box_tag("order_selected", nil,
                  order.delivered?,
                    :class=>"DueItem-checkbox", :onclick=>"this.form.submit()"
                                )
                %>
            <% end %>
          <li class="MenuItems-list">
            <label class="MenuItems-container">

              <p class= <%= order.delivered? ? "InactiveOrderCart-item_text" : "ActiveOrderCart-item_text" %> >
                <a href="javascript:void(0)" >
                  <%= link_to "OrderID: #{ order.id } , Date: #{order.date.to_date.to_s(:short)},
                         Amount: #{order.amount} ", "/order_items/#{order.id}", method: "get" %>
                </a>
              </p>
              <p class= <%= order.delivered? ? "InactiveOrderCart-item_text" : "ActiveOrderCart-item_text" %> >
                <% if order.delivered? %>
                  Delivered on: <%= order.delivered_at.to_date.to_s(:short) %>
                <% else %>
                  Pending
                <% end %>
              </p>
            </label>
          </li>
          </div>
          <% if order %>
            <% if (order.selected?(session[:selected_order_id].to_i) && (OrderItem.exist?(session[:selected_order_id].to_i))) %>
              <p class = "Menu-title">Items. </p>
              <div class="OrderItemHeading-div">
                <p class="OrderItemHeading-name">Name </p>
                <p class="ItemHeading-rate">Rate </p>
                <p class="ItemHeading-quantity">Quantity </p>
                <p class="ItemHeading-amount">Amount </p>
              </div>
              <div class="MenuItems-div">
                <% order_total = 0 %>
                <ul class="MenuUl-list">
                  <% OrderItem.of_order(session[:selected_order_id].to_i).each do |item| %>
                    <div class="UserList-div">
                      <li class="MenuItems-list">
                        <label class="MenuItems-container">
                          <% if @current_user.role == "owner"%>
                            <%= form_with(url: "/menu_items/#{item.id}", method: "GET") do %>
                              <%= check_box_tag("menu_item_selected", nil,
                                          item.selected?(session[:selected_order_item_id].to_i),
                                          :class=>"DueItem-checkbox",
                                          :onclick=>"this.form.submit()"
                                                      )
                              %>
                            <% end %>
                          <% end %>
                          <p class="ActiveOrderCart-item_name"> <%= item.menu_item_name %> </p>
                          <p class="ActiveOrderCart-item_price"> <%= item.menu_item_price %> </p>
                          <p class="ActiveOrderCart-item_quantity" > <%= item.quantity %> </p>
                          <p class="ActiveOrderCart-item_amount" > <%= item.menu_item_price*item.quantity %> </p>
                        </label>
                      </li>
                      <p class="ActiveOrderCart-item_text" >
                        <% order_total += item.menu_item_price*item.quantity %>
                      </p>
                    </div>
                  <% end %>
                </ul>
              </div>
              <p class="ActiveOrderCart-item_text"> Total: <%= order_total %> </p>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      </div>
      <% end %>
    <% if Cart.of_user(@current_user.id) && @current_user.role = "clerk" %>
      </td>
      <td>
      <p class = "Menu-title">Items in Cart </p>
      <div class="OrderCart-div">
        <div class="ItemHeading-div">
          <p class="ItemHeading-text">Name </p>
          <p class="ItemHeading-text">Rate </p>
          <p class="ItemHeading-text">Quantity </p>
          <p class="ItemHeading-text">Amount </p>
        </div>
        <hr>
        <% total = 0 %>
        <% CartItem.of_cart_id(Cart.of_user(@current_user.id).id).each do |item| %>
          <div class="UserList-div">
            <li class="MenuItems-list">
              <label class="MenuItems-container">
                <p class="ActiveOrderCart-item_text" >
                  <%= item.menu_item_name %>
                </p>
                <p class="ActiveOrderCart-item_text" >
                  <%= item.menu_item_price %>
                </p>
                <p class="UserItem-update" >
                  <a href="javascript:void(0)" >
                    <%= form_with(url: "/cart_items/#{item.id}/minus", method: "GET") do %>
                      <%= button_tag("-", :class=>"CartItem-minus" ) %>
                    <% end%>
                  </a>
                </p>
                <p class="ActiveOrderCart-item_text" >
                  <%= item.quantity %>
                </p>
                <p class="UserItem-update" >
                  <a href="javascript:void(0)" >
                    <%= form_with(url: "/cart_items/#{item.id}/plus", method: "GET") do %>
                      <%= button_tag("+", :class=>"CartItem-plus" ) %>
                    <% end%>
                  </a>
                </p>
                <p class="ActiveOrderCart-item_text" >
                  <%= item.menu_item_price*item.quantity %>
                </p>
                <p class="UserItem-update" >
                  <a href="javascript:void(0)" >
                    <%= form_with(url: "/cart_items/#{item.id}", method: "delete") do %>
                      <%= button_tag("Delete item", :class=>"UserItem-update" ) %>
                    <% end%>
                  </a>
                </p>
              </label>
            </li>
          </div>
          <hr>
          <p class="ActiveOrderCart-item_text" >
            <% total = total + item.menu_item_price*item.quantity %>
          </p>
        <% end %>
        <div  class="OrderConfirm-div">
          <p class="CartItem-confirm" >
              <a href="javascript:void(0)" >
                <%= form_with(url: "/orders", method: "POST") do %>
                  <%= button_tag("Confirm Order", :class=>"CartItem-confirm" ) %>
                <% end%>
              </a>
          </p>
          <p class="OrderClerk-total" > Total:
            <%= total %>
          </p>
        </div>
      </div>
      </td>
      </tr>
      </table>
    <% end %>
    </div>
  <% end %>
</section>
