<!DOCTYPE html>
<html>
  <head>
    <title>Cafe Reedhi's Manager App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="HomeBanner-div">
      <p class="HomeBanner-title">
          <%= link_to "Home", "/", method: "GET" %>
      </p>

      <% if @current_user %>
        <% if @current_user.role == "owner" %>
          <p class="HomeHeader-title"> <%= link_to "Manage Users", manage_users_path %> </p>
          <p class="HomeHeader-title"> <%= link_to "Manage Menus", menu_categories_path %></p>
        <% else %>
          <p class="HomeHeader-title">
            <%= link_to "Change Password", "/changepassword", method: "GET" %>
          </p>
        <% end %>
        <div class="HomeBanner-div">
          <p> <%= @current_user.name %>(<%= @current_user.role %>):
           <% user_orders = Order.of_user(@current_user.id)%>
          <% if @current_user.role != "customer" %>
              <%= link_to Order.all.count, orders_path, method: "GET" %>
          <% else %>
            <% if !user_orders.empty? %>
              <%= link_to user_orders.order_count(@current_user.id), orders_path, method: "GET" %>
            <% else %>
              <%= link_to user_orders.order_count(@current_user.id), orders_path, method: "GET" %>
            <% end %>
          <% end %>
          Orders: Pending:
          <% if @current_user.role != "customer" %>
            <%= link_to Order.pending, orders_path, method: "GET" %>
          <% else %>
            <%# if !user_orders.empty?) %>
              <%= link_to (Order.pending_of_user(@current_user.id)), orders_path, method: "GET" %> </p>
            <%# end %>
          <% end %>
          <% user_cart = Cart.of_user(@current_user.id) %>
        <% if user_cart %>
          <% if CartItem.of_cart_id(user_cart.id).count != 0 %>
              <p> / Cart Items: <%= link_to CartItem.of_cart_id(user_cart.id).count, orders_path, method: "GET" %> </p>
          <% end %>
        <% end %>
        </div>
          <p> <%= link_to "Sign-out", destroy_session_path, method: "delete" %> </p>
    </div>
    <div class="HomeHeader-div">
        <p class="HomeHeader-message"> Welcome to Cafe Reedhi's Services. </p>
      <% else %>
        <p class="HomeHeader-message">Hello Friend ! Welcome to Cafe Reedhi's Services.
              Please <%= link_to "Sign-in", new_sessions_path, method: "get" %>
              to help us serve you better.
        </p>
        <p class="HomeBanner-title">New User <%= link_to "Sign-Up", new_user_path %> </p>
      <% end %>
    </div>
    <p class="Flash-message">
        <%= flash[:error] %>
    </p>
    <%= yield %>
    <div>
    <h3 style="background-color:lightgreen;color:blue;
                text-align:center;margin-top:10px;">
        Copy-right@reedhi durgapur
    </h3>
    </div>
  </body>
</html>
